[package]
authors = ["Jorge Aparicio <jorge@japaric.io>", "Markus Mayer <widemeadows@gmail.com>"]
categories = ["embedded", "hardware-support", "no-std"]
description = "A platform agnostic driver to interface with the LSM303DLHC (accelerometer + compass)"
documentation = "https://docs.rs/lsm303dlhc"
keywords = ["embedded-hal-driver", "accelerometer", "compass", "MEMS", "IMU"]
license = "MIT OR Apache-2.0"
name = "lsm303dlhc"
repository = "https://github.com/sunsided/lsm303dlhc"
version = "0.2.0"

[features]
default = ["accelerometer"]
accelerometer = ["dep:accelerometer"]
defmt = ["dep:defmt"]

[dependencies]
accelerometer = { version = "0.12.0", optional = true }
bitfield-struct = "0.8.0"
cast = { version = "0.3.0", default-features = false }
defmt = { version = "0.3.8", optional = true }
embedded-hal = "0.2.7"
generic-array = "1.0.0"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
